@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    background: #CCCCFF;
    padding: 0;
    margin: 0;
    
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

}


css
.block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.element {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding: 0px 30px 30px 30px;
    margin-top: 50px;

}

.element img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top:30px;

}