body {
    background: rgb(244, 244, 244);
    margin: 0;
    padding: 0;
}
.menu{
    display: flex;
    justify-content: center; 
    list-style: none;
    background: rgb(85, 82, 77);
    padding: 20px;
    margin-top: 0;
}

.menu li {
    padding: 0px 50px; /* отступы внутри каждого пункта меню */
    font-size: 18px;
    font-family: 'Roboto';
    color: #f4f0e5;
}


.content{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.content h4{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Roboto';
    color: #5b5b5b;
}

.content h5{
    max-width: 1400px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 50px;
    font-family: 'Roboto';
    color: #2a38b1;
}